# .gitignore content

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment variables
.env

# OS / Editor files
.DS_Store
.idea/
.vscode/

#Credentials
resources/credentials.json
